.small-calendar {
  .event {
    border-radius: 15px;
    padding: 2px 4px;
    &.community {
      background-color: #54c71abb;
    }
    &.sports {
      background-color: #fadb14bb;
    }
    &.holiday {
      background-color: #f5222dbb;
    }
  }
}
