@import '../colours.scss';

.top-nav {
  background-color: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

button {
  padding: .2em;
  border-radius: .2em;
  border: none;
  background-color: $gray4;
  &:hover {
    cursor: pointer;
    background-color: $blue2;
  }
}