.side-nav {
  margin-right: 20px;
}
.side-nav ul {
  position: fixed;
  top: 59px;
  width: 15%;
  height: -webkit-calc(100vh - 59px);
  background-color: transparent;
  padding-left: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.side-nav ul.ant-menu li {
  border-radius: 20px 0 0 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.side-nav ul.ant-menu li.ant-menu-item-selected {
  background-color: white;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.1);
}
