@import './colours.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

body {
  background-color: $gray1;
}

.content {
  display: flex;
  justify-content: center;
}

.primary-content {
  overflow: auto;
  width: 65%;
  height: -webkit-calc(100vh - 59px);
  padding: 15px 40px 0;
}

.pinned-content {
  position: fixed;
  top: 59px;
  right: 0;
  width: 17.5%;
  padding: 10px;
  overflow: hidden;
  height: -webkit-calc(100vh - 64px);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
